<div class="container">
  <virtual-scroller class="virtual-scroll" #scroll [items]="data" [scrollThrottlingTime]="100"
    (vsStart)="fetchMore($event)" (vsEnd)="fetchMore($event)">
    <div class="container">
      <div class="row">
        <div class="col-md-12"
          *ngFor="let item of scroll.viewPortItems;trackBy: trackByFn;let even=even;let odd=odd;let i = index;">
          <div class="card mt-2 mb-2">
            <div class="card-body">
              <h5 class="card-title pb-2"><strong>ID</strong> : {{item?.id}}
                <!-- <span
                  class="badge badge-secondary">{{i+1}}</span> -->
              </h5>
              <h6 class="card-subtitle pb-2 text-muted"> <strong>Rule :</strong> {{item?.ruleName}}</h6>
              <button class="btn btn-primary">delete</button>
              <button class="btn btn-primary" (click)="clone(item,i)">clone</button>
              <button class="btn btn-primary" (click)="moveUp(item,i)">move up</button>
              <button class="btn btn-primary">move down</button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </virtual-scroller>

</div>

<!-- <div class="hell" *ngFor="let item of data;let i=index">
  <span>{{i+1}} </span> <span>{{item?.id}}</span> <span>{{item?.ruleName}}</span>
</div> -->
